table {
	color: red
.table {
	width: 100;
	margin-bottom: 20;
	border: 1 solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5;
	background: #efefef;
	border: 1 solid #dddddd;
}
.table td {
	border: 1 solid #dddddd;
	padding: 5;
}
