
	/* Стили таблицы (IKSWEB) */
	.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;color:red}
	.iksweb th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#ab6fd6;}
	.iksweb td{font-size:13px;color:#ba9fd4;}
	.iksweb td,th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #ffffff;}	table.iksweb tr:hover{background-color:#5a9fd1}


